@use '../../styles/variables.scss' as variables;

.faq {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 16px;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: variables.$colorWhite;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
