@use '../../styles/variables.scss' as variables;

.faq {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 16px;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: variables.$colorWhite;
  }
}

.faqBody {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  font-size: 30px;
  color: variables.$colorWhite;
}
