@use './variables.scss' as variables;
@use './nullstyle.scss';

body {
  margin: 0;
  background-color: variables.$colorBlack;
  font-family: 'Anonymous Pro', monospace;
}

html {
  scroll-behavior: smooth;
}
