/* Цвета проекта */
$colorBlack: #1e1e1e;
$colorBlackAccent: #0f0f0f;
$colorWhite: #ffffff;
$colorGray: #a0a0a0;
$colorLightGray: #f7f7f7;
$colorDarkGray: #64666b;
$colorPurple: #6754cf;
$colorPurpleHover: #9687ea;

$colorError: #f50000;
$colorSuccess: #02c82d;


$marginTopSections: 150px;
