@use '../../styles/variables.scss' as variables;
@use '../../styles/breakpoints.scss' as breakpoint;

.about {
  margin-top: variables.$marginTopSections;
  color: variables.$colorWhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;

  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  @include breakpoint.sm {
    flex-direction: column;
  }

  @include breakpoint.xs {
    flex-direction: column;
  }
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  font-size: 30px;
  line-height: 34px;

  @include breakpoint.lg {
    max-width: 500px;
    font-size: 24px;
    line-height: 28px;
  }

  @include breakpoint.md {
    max-width: 350px;
    font-size: 22px;
    line-height: 26px;
  }

  @include breakpoint.sm {
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  @include breakpoint.xs {
    font-size: 24px;
    line-height: 28px;
  }
}

.infoText {
  @include breakpoint.sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
  }

  @include breakpoint.xs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.purpose {
  display: flex;
  flex-direction: column;

  gap: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

  .icons {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
}

.demo {
  display: none;
  width: 800px;
  margin-top: 50px;
  cursor: pointer;

  @include breakpoint.lg {
    width: 700px;
  }

  @include breakpoint.md {
    width: 600px;
  }

  @include breakpoint.sm {
    width: 500px;
    margin: auto;
  }

  @include breakpoint.xs {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }

  img {
    transition: all 0.2s ease;
  }

  &:hover {
    img {
      transform: scale(1.04);
    }
  }
}

.demoHuge {
  position: fixed;
  inset: 0;
  z-index: 1000;
  margin: auto;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8);
}

.demoVideo {
  position: absolute;
  top: 40px;
  right: 200px;
  width: 1000px;

  @include breakpoint.lg {
    width: 800px;
    right: 100px;
  }

  @include breakpoint.md {
    width: 800px;
    right: 60px;
  }

  @include breakpoint.sm {
    width: 550px;
    top: 150px;
    right: 20px;
  }
}

.show {
  display: block;
}

.showHuge {
  opacity: 1;
  visibility: visible;

  @include breakpoint.xs {
    display: none;
  }
}

.video {
  top: 20px;
  right: 125px;
  position: absolute;
  width: 750px;

  @include breakpoint.lg {
    width: 603px;
    right: 100px;
  }

  @include breakpoint.md {
    width: 603px;
    right: 100px;
  }

  @include breakpoint.sm {
    top: 15px;
    width: 414px;
    right: 68px;
  }
}
