@use '../../../styles/variables.scss' as variables;

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$colorWhite;
  border-radius: 4px;
}

.input {
  width: 100%;
  padding: 16px 0px 16px 16px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  background-color: variables.$colorWhite;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textarea {
  min-width: 100%;
  min-height: 220px;
  padding: 16px 16px;
  font-size: 16px;
  border-radius: 4px;
  resize: none;
  border: none;
  outline: none;
  background-color: variables.$colorWhite;
}

.controlButtons {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 0 4px;
  margin: 0 10px;
}

.controlButton {
  cursor: pointer;
  color: variables.$colorDarkGray;
}

.error {
  border: 1px solid variables.$colorError;
}

.success {
  border: 1px solid variables.$colorSuccess;
}

.errorText {
  color: variables.$colorError;
  font-size: 16px;
}

.successText {
  color: variables.$colorSuccess;
  font-size: 16px;
}
