@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;

.footer {
  height: 420px;
  margin-top: variables.$marginTopSections;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$colorBlackAccent;

  @include mixins.container-padding(40px);

  @media (max-width: 924px) {
    height: auto;
    gap: 50px;
    padding-bottom: 20px;
  }
}

.footerHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: variables.$colorWhite;

  h1 {
    font-size: 40px;
  }

  .sublogo {
    font-size: 20px;
    line-height: 24px;
    margin: 12px 0 32px 0;
  }
}

.footerNavigation {
  display: flex;
  gap: 120px;

  @media (max-width: 928px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .footerNav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
    color: variables.$colorWhite;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      font-size: 16px;
      line-height: 20px;
      color: variables.$colorGray;
      transition: all 0.2s;

      @media (any-hover: hover) {
        &:hover {
          color: variables.$colorWhite;
        }
      }
    }
  }
}

.footerLinks {
  padding-bottom: 20px;
  border-bottom: 1px solid variables.$colorGray;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 624px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
    padding-top: 28px;
    border-top: 1px solid variables.$colorGray;
  }

  .copyright {
    font-size: 14px;
    line-height: 16px;
    color: variables.$colorGray;

    a {
      transition: all 0.2s;

      @media (any-hover: hover) {
        &:hover {
          color: variables.$colorWhite;
        }
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.footerLaws {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 624px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
  }

  .copy {
    line-height: 16px;
    color: variables.$colorGray;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 624px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 16px;
    }

    a {
      font-size: 14px;
      line-height: 16px;
      color: variables.$colorGray;
      transition: all 0.2s;

      @media (any-hover: hover) {
        &:hover {
          color: variables.$colorWhite;
        }
      }
    }
  }
}
